.WayPoint {
  position: relative;
  width: calc(var(--TILE_SIZE) / 2);
  height: calc(var(--TILE_SIZE) / 2);
  background-color: #e2a12b;
  position: absolute;
  transform-origin: top left;
  margin: 3.5px;
}
