.Grid {
  position: absolute;
  zindex: 1000;
  display: grid;
  border-right: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
  opacity: 0.8;
}

.GridCell {
  zindex: 1000;
  border-left: 1px solid darkgrey;
  border-top: 1px solid darkgrey;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  font-size: 10px;
  text-align: center;
  opacity: 0.8;
}
