html,
body {
  background-color: black;
  padding: 0;
  margin: 0;
  color: white;
}

.App {
  color: white;
}

a,
a:visited {
  color: white;
}

.Maze {
  position: relative;
  margin-top: 100px;
  margin-left: 100px;
  width: 800px;
  height: 600px;
}

.Sprite {
  position: absolute;
  display: block;
  background: url(/resources/arcade_pacman_sprites.png);
  transform-origin: top left;
}

.Sprite-ghost {
  width: 16px;
  height: 16px;
}

/* Ghost 0 */

.Sprite-ghost-0-direction-RIGHT-phase-0 {
  background-position: calc(-1px * (456 + 0 * 16)) calc(-1px * (64 + 0 * 16));
}

.Sprite-ghost-0-direction-RIGHT-phase-1 {
  background-position: calc(-1px * (456 + 1 * 16)) calc(-1px * (64 + 0 * 16));
}

.Sprite-ghost-0-direction-LEFT-phase-0 {
  background-position: calc(-1px * (456 + 2 * 16)) calc(-1px * (64 + 0 * 16));
}

.Sprite-ghost-0-direction-LEFT-phase-1 {
  background-position: calc(-1px * (456 + 3 * 16)) calc(-1px * (64 + 0 * 16));
}

.Sprite-ghost-0-direction-UP-phase-0 {
  background-position: calc(-1px * (456 + 4 * 16)) calc(-1px * (64 + 0 * 16));
}

.Sprite-ghost-0-direction-UP-phase-1 {
  background-position: calc(-1px * (456 + 5 * 16)) calc(-1px * (64 + 0 * 16));
}

.Sprite-ghost-0-direction-DOWN-phase-0 {
  background-position: calc(-1px * (456 + 6 * 16)) calc(-1px * (64 + 0 * 16));
}

.Sprite-ghost-0-direction-DOWN-phase-1 {
  background-position: calc(-1px * (456 + 7 * 16)) calc(-1px * (64 + 0 * 16));
}

/* Ghost 1 */

.Sprite-ghost-1-direction-RIGHT-phase-0 {
  background-position: calc(-1px * (456 + 0 * 16)) calc(-1px * (64 + 1 * 16));
}

.Sprite-ghost-1-direction-RIGHT-phase-1 {
  background-position: calc(-1px * (456 + 1 * 16)) calc(-1px * (64 + 1 * 16));
}

.Sprite-ghost-1-direction-LEFT-phase-0 {
  background-position: calc(-1px * (456 + 2 * 16)) calc(-1px * (64 + 1 * 16));
}

.Sprite-ghost-1-direction-LEFT-phase-1 {
  background-position: calc(-1px * (456 + 3 * 16)) calc(-1px * (64 + 1 * 16));
}

.Sprite-ghost-1-direction-UP-phase-0 {
  background-position: calc(-1px * (456 + 4 * 16)) calc(-1px * (64 + 1 * 16));
}

.Sprite-ghost-1-direction-UP-phase-1 {
  background-position: calc(-1px * (456 + 5 * 16)) calc(-1px * (64 + 1 * 16));
}

.Sprite-ghost-1-direction-DOWN-phase-0 {
  background-position: calc(-1px * (456 + 6 * 16)) calc(-1px * (64 + 1 * 16));
}

.Sprite-ghost-1-direction-DOWN-phase-1 {
  background-position: calc(-1px * (456 + 7 * 16)) calc(-1px * (64 + 1 * 16));
}

/* Ghost 2 */

.Sprite-ghost-2-direction-RIGHT-phase-0 {
  background-position: calc(-1px * (456 + 0 * 16)) calc(-1px * (64 + 2 * 16));
}

.Sprite-ghost-2-direction-RIGHT-phase-1 {
  background-position: calc(-1px * (456 + 1 * 16)) calc(-1px * (64 + 2 * 16));
}

.Sprite-ghost-2-direction-LEFT-phase-0 {
  background-position: calc(-1px * (456 + 2 * 16)) calc(-1px * (64 + 2 * 16));
}

.Sprite-ghost-2-direction-LEFT-phase-1 {
  background-position: calc(-1px * (456 + 3 * 16)) calc(-1px * (64 + 2 * 16));
}

.Sprite-ghost-2-direction-UP-phase-0 {
  background-position: calc(-1px * (456 + 4 * 16)) calc(-1px * (64 + 2 * 16));
}

.Sprite-ghost-2-direction-UP-phase-1 {
  background-position: calc(-1px * (456 + 5 * 16)) calc(-1px * (64 + 2 * 16));
}

.Sprite-ghost-2-direction-DOWN-phase-0 {
  background-position: calc(-1px * (456 + 6 * 16)) calc(-1px * (64 + 2 * 16));
}

.Sprite-ghost-2-direction-DOWN-phase-1 {
  background-position: calc(-1px * (456 + 7 * 16)) calc(-1px * (64 + 2 * 16));
}

/* Ghost 3 */

.Sprite-ghost-3-direction-RIGHT-phase-0 {
  background-position: calc(-1px * (456 + 0 * 16)) calc(-1px * (64 + 3 * 16));
}

.Sprite-ghost-3-direction-RIGHT-phase-1 {
  background-position: calc(-1px * (456 + 1 * 16)) calc(-1px * (64 + 3 * 16));
}

.Sprite-ghost-3-direction-LEFT-phase-0 {
  background-position: calc(-1px * (456 + 2 * 16)) calc(-1px * (64 + 3 * 16));
}

.Sprite-ghost-3-direction-LEFT-phase-1 {
  background-position: calc(-1px * (456 + 3 * 16)) calc(-1px * (64 + 3 * 16));
}

.Sprite-ghost-3-direction-UP-phase-0 {
  background-position: calc(-1px * (456 + 4 * 16)) calc(-1px * (64 + 3 * 16));
}

.Sprite-ghost-3-direction-UP-phase-1 {
  background-position: calc(-1px * (456 + 5 * 16)) calc(-1px * (64 + 3 * 16));
}

.Sprite-ghost-3-direction-DOWN-phase-0 {
  background-position: calc(-1px * (456 + 6 * 16)) calc(-1px * (64 + 3 * 16));
}

.Sprite-ghost-3-direction-DOWN-phase-1 {
  background-position: calc(-1px * (456 + 7 * 16)) calc(-1px * (64 + 3 * 16));
}

/* PacMan */

.Sprite-pacman {
  width: 16px;
  height: 16px;
}

.Sprite-pacman-direction-RIGHT-phase-0 {
  background-position: calc(-1px * (456 + 0 * 16)) calc(-1px * (0));
}

.Sprite-pacman-direction-RIGHT-phase-1 {
  background-position: calc(-1px * (456 + 1 * 16)) calc(-1px * (0));
}

.Sprite-pacman-direction-RIGHT-phase-2,
.Sprite-pacman-direction-LEFT-phase-2,
.Sprite-pacman-direction-UP-phase-2,
.Sprite-pacman-direction-DOWN-phase-2 {
  background-position: calc(-1px * (456 + 2 * 16)) calc(-1px * (0));
}

.Sprite-pacman-direction-LEFT-phase-0 {
  background-position: calc(-1px * (456 + 0 * 16)) calc(-1px * (1 * 16));
}

.Sprite-pacman-direction-LEFT-phase-1 {
  background-position: calc(-1px * (456 + 1 * 16)) calc(-1px * (1 * 16));
}

.Sprite-pacman-direction-UP-phase-0 {
  background-position: calc(-1px * (456 + 0 * 16)) calc(-1px * 2 * 16);
}

.Sprite-pacman-direction-UP-phase-1 {
  background-position: calc(-1px * (456 + 1 * 16)) calc(-1px * 2 * 16);
}

.Sprite-pacman-direction-DOWN-phase-0 {
  background-position: calc(-1px * (456 + 0 * 16)) calc(-1px * 3 * 16);
}

.Sprite-pacman-direction-DOWN-phase-1 {
  background-position: calc(-1px * (456 + 1 * 16)) calc(-1px * 3 * 16);
}

.Sprite-maze {
  width: calc(14 * 16px);
  height: calc(15.5 * 16px);
}

.Sprite-maze-state-full {
  background-position: calc(-1px * (0)) calc(-1px * 0);
}

.Sprite-maze-state-empty {
  background-position: calc(-1px * (4 + (14 * 16))) calc(-1px * 0);
}

.Sprite-pill {
  width: calc(8px);
  height: calc(8px);
  background-position: calc(-1px * (1 * 8)) calc(-1px * 1 * 8);
}

.Sprite-energizer {
  width: calc(8px);
  height: calc(8px);
  background-position: calc(-1px * (1 * 8)) calc(-1px * 3 * 8);
}

.debug {
  border: 1px solid yellow;
}

.Grid {
  position: absolute;
  zindex: 1000;
  display: grid;
  border-right: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
  opacity: 0.8;
}

.GridCell {
  border-left: 1px solid darkgrey;
  border-top: 1px solid darkgrey;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  font-size: 10px;
  text-align: center;
  opacity: 0.8;
}
