html,
body {
  background-color: #282c34;
  padding: 0;
  margin: 0;
}

.Maze {
  position: relative;
  border: 1px solid blue;
  margin-top: 200px;
  margin-left: 100px;
  width: 400px;
  height: 600px;
}

.PacMan {
  position: absolute;
  display: block;
  background: url(/pacman.png);
  height: 16px;
  width: 16px;

  transform-origin: top left;
  /* border: 1px solid red; */
}

.App-header {
  color: white;
}
