html,
body {
  --SCALE_FACTOR: 2.5;
  --TILE_SIZE: calc(var(--SCALE_FACTOR) * 8px);

  background-color: black;
  padding: 0;
  margin: 0;
  color: white;
}

.App {
  color: white;
}

a,
a:visited {
  color: white;
  text-decoration: underline;
}

.Maze {
  position: relative;
  margin-top: 100px;
  margin-left: 100px;
  width: 800px;
  height: 600px;
}

.debug {
  border: 1px solid yellow;
}

.Footer {
}
